@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');:root
{
    --bg-background: #f1f2f6; /* Cor do fundo da página */
    --purple: #6D214F;
    --blue-disabled: #00cec9;
    --blue-blue: #81ecec;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: var(--bg-background);
}

p 
{
    font-family: 'Poiret One', cursive;
    margin-bottom: .750rem;
    font-size: 1.10rem;
}

h1, h2, h3
{
    font-family: 'Space Mono', monospace;
    color: var(--purple);
    letter-spacing: 3px;
    text-align: center;
}

h1
{
    font-size: 2rem;
}

h2
{
    font-size: 1.25rem;

}

nav
{
    display: flex;
    width: 70vw;
    margin: 0 auto;
    justify-content: flex-end;
    font-size: 2rem;
    padding: 2.25rem 1rem;
}

ul
{
    text-decoration: none;
    font-size: 2rem;
    transition: text-shadow .2s ease-in-out;
}

li
{
    display: inline;
    margin-right: 1rem;
    font-size: 24px;
}

a
{
    text-decoration: none;
    font-size: 1.25rem;
    transition: text-shadow .2s ease-in-out;
}

#menu li a:hover 
{
   text-shadow: 0 0 2px var(--purple); /* Coloca sombra ao passar o mousse sobre o menu */
}

hr
{
    width: 98vw;
    margin: 2.5rem auto;
    height: 2px;
    border: none;
    background-color: var(--blue-disabled);
}

footer
{
    padding: 1rem 0;
    border-top: 2px solid var (--blue-blue);
    margin-top: 1rem;
    display: inline;
    justify-content: center;
}

.container 
{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.center 
{
    text-align: center;
}

.tm-social
{
    width: 80px;
    padding: 20px;
}

.tm-social:hover /* o hover indica que terá uma sombra no que estamos passando */
{
    filter: drop-shadow(2px 5px 2px var(--purple));
}

justify
{
    text-align: justify;
}

.p-30
{
    padding: 30px;
}

.br-45
{
    border-radius: 45%;   
}

.hw-320
{
    width: 320px;
    height: 320px;
    aspect-ratio: 1;
}

.video
{
    width: 40vw;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    margin-top: 2rem;
}

h3
{
    font-size: 1.10rem;
    margin-bottom: 2rem;
}

h4
{
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #833471;
}

.mapa
{
    width: 35vw;
    aspect-ratio: 16/9;
    border-radius: 8px;
    box-shadow: 8px 8px 16px #00cec9; /* Coloca uma sombra no fundo da caixa */
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.endereco
{
    color: #1014f7;
    font-size: 1.250rem;
}

main
{
    display: flex;
}

span
{
    align-items: center;
}

.contato
{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-left: 2rem;
}

.formulario
{
    width: 100%;
}

.comeco
{
    text-align: left;
}

input, textarea, button
{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.05rem;
    margin-bottom: 1rem;
}

input, textarea
{
    border: 1px solid;
}

button
{
    background-color: transparent;
    cursor: pointer; /* Transforma o cousor na mãozinha */
}

button:hover
{
    background-color: #747d8c; /* Coloca um fundo no momento em que o mousse passa por cima do botão */
    color: #fff; /* A palavra Enviar fica na cor branca */
}

.gif
{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    padding: 1rem;
} 

.nome
{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

.flex-container p
{
    text-align: justify;
}

.flex-container
{
    display: flex;
    flex-direction: column; /* indico que a direção que será adquirida será em coluna */
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}
